html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family:"JMH Typewriter";
}
h1{
    font-size: clamp(1.75em, 1em + 3vw,2.5em);
    font-family:"Dark Phoenix";
}
p{
    font-size: clamp(1rem, 0.75vw, 1rem);
    line-height: 50px;
}

.menu-wrap{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.toggler{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

.hamburger{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #262626;
}

.hamburger>div{
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.5px;
	background-color: rgb(95,158,160);
	transition: .4s;
}

.hamburger>div:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: rgb(95,158,160);
	top: -10px;
	left: 0;
	transition: .4s;
}

.hamburger>div:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: rgb(95,158,160);
	top: 10px;
	left: 0;
	transition: .4s;
}

.toggler:checked + .hamburger>div{
	transform: rotate(135deg);
}

.toggler:checked:hover + .hamburger>div{
	transform: rotate(225deg);
}

.toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
	top: 0;
	transform: rotate(90deg);
}

.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
  transition: .6s;
  overflow: auto;
}

.menu > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-150%) translateY(-50%);
    width: 1920px;
    height: 1920px;
    
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
}

.menu > div > div{
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: .6s;
}

.menu > div > div > ul > li{
  list-style: none;
  }

.menu > div > div > ul > li > a{
	text-decoration: none;
	color: #fff;
	font-weight: 550;
	text-transform: uppercase;
	margin: .5rem;
	transition: .3s;
	font-size: 1.2rem;
	display: inline-block;
}

.menu > div > div > ul > li > a:hover{
	color: rgb(95,158,160);
}

.toggler:checked ~ .menu{
	visibility: visible;
}

.toggler:checked ~ .menu > div{
	transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu > div > div{
	opacity: 1;
}

.menu > div > div > ul > li > .socialbar{
	  transform: translate(-50%, -50%);
    margin: 0 10px;
    padding: 0;
    width: 100%;
    max-width: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    position:absolute;
    left: 50%;
    top: 100px;
    text-decoration: none;
}

.navbar{
  font-family: "Dark Phoenix";
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #262626;
  width: 100%;
  height: 70px;
  z-index: 1;
  opacity: 0.8;
}

.logo {
  flex: 1 1 auto;
  margin-left: 48%;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: clamp(1.75em, 1em + 3vw,2.5em);
  color: #fff;
}

.banner-area{
    position: relative;
    background-image: url('dev.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    overflow: auto;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.about-area, .curriculum-area, .contact-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}
.text-part{
    width: 65%;
    height: 80%;
    text-align:center;
    overflow: auto;
}        
.about-area{
    background-color: #262626;
    color: #fff;
}
.curriculum-area{
    background-color: rgb(95,158,160);
    color: #fff;
}
.contact-area{
    background-color: #262626;
    color: #fff;
}
.btn{
	font-family:"JMH Typewriter";
	font-size: 14px;
	border:none;
    padding: 10px;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
}
.btn-black{
	background: #262626;
	color: white;
	box-shadow: 0 5px 0 #000;
}
.btn-black:hover{
	background: #000;
	color: white;
	box-shadow: 0 5px 0 #000;
}
.btn-black:active{
	position: relative;
	top: 5px;
	box-shadow: none;
}

.btnsubmit{
	font-family:"JMH Typewriter";
	font-size: 14px;
	border:none;
    padding: 10px;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
	background: #262626;
	color: white;
	box-shadow: 0 5px 0 #000;
	width: 50%;
}

.btnsubmit:hover{
	background: #000;
	color: white;
	box-shadow: 0 5px 0 #000;
}

.btnsubmit:active{
	position: relative;
	top: 5px;
	box-shadow: none;
}

.wrapper{
  position: relative;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 480px;
  background: rgb(95,158,160);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(61,121,92);
  
}

.wrapper .title h1{
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}

.contact-form{
  display: flex;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields{
  width: 48%;
}


.msg{
  width: 100%;
}

.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #fff;
  padding: 10px;
  color: #fff;
  width: 100%;
  font-family:"JMH Typewriter";
}

.msg textarea{
  height: 212px;
  font-family:"JMH Typewriter";
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

@media screen and (max-width: 600px){
  .contact-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
}


